@import "../style.scss";
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  vertical-align: middle;
}

.bg {
  @include bg;
  background-image: url(../../assets/Img/bg-11.jpg);
  color: #222;
  filter: blur(2px);
  padding: 50px 0;
}
.profile {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.41);
  background-color: rgba(247, 243, 243, 0.768);
  padding: 50px;
  margin-top: 50px;

  @media only screen and (max-width: $bp-smallest) {
    width: 365px;
  }
}

.disabled {
  background-color: gray !important;
}
