@import "../style.scss";

.main {
  @include bg;
  @include flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
      90deg,
      rgba(255, 208, 74, 0.27244401178440125) 17%,
      rgba(252, 234, 187, 0.5665616588432247) 97%
    ),
    url(../../assets/Img/bg-1.jpg);

  &__heading {
    color: #fff;
    font-size: 56px;

    @media only screen and (max-width: $bp-medium) {
      font-size: 42px;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 34px;
    }
    @media only screen and (max-width: $bp-smallest) {
      font-size: 25px;
    }
  }

  &__content {
    font-size: 18px;
    transform: translateY(-100px);

    @media only screen and (max-width: $bp-smallest) {
      transform: none;
    }
  }
}
.search-container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.02);
  }

  & div {
    padding: 5px;
    border-radius: 30px;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 14px;
    }
  }
}
