@import "../style.scss";

.header {
  height: 125px;
  @include flex;
  justify-content: space-between;
  padding: 30px 60px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.4156862745);
  color: $color-primary;

  &__logo {
    width: 140px;
  }

  &__contents {
    display: contents;
  }

  &__search {
    width: 460px;

    & div {
      padding: 4px;
      border-radius: 30px;
    }
  }

  &__signup {
    @include flex;
    @include home-button;
    font-weight: 300;
    padding: 6px 8px;

    &:hover,
    &:active {
      background-color: $color-primary;
    }
  }

  &__like-container {
    @include flex;
    cursor: pointer;
    gap: 10px;
  }

  &__user {
    display: flex;
    gap: 50px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  &__login {
    padding-left: 6px;
  }

  &__link {
    text-decoration: none;
    color: $color-primary;

    &:hover {
      color: $color-secondary;
    }
  }
}
