@import "../style.scss";

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px 80px 0 60px;
  border-top: 1px solid #2222226a;
  color: $color-primary;

  @media only screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  &__logo {
    width: 155px;
    height: 45px;
  }

  &__form {
    display: flex;
    gap: 30px;

    &-box {
      flex: 1;
    }

    &-box input {
      width: 100%;
      padding: 18px;
      font-size: 16px;
      color: $color-primary;
      font-family: "Poppins", sans-serif;
      border: 1px solid $color-primary;
      background-color: #ffffff;
      border-radius: 30px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
  }

  &__button {
    @include button-style;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;

    &:hover,
    &:active {
      background-color: $color-primary;
    }
  }

  &__first {
    display: flex;
    gap: 18%;

    & ul {
      padding: 0;
    }

    @media only screen and (max-width: 700px) {
      justify-content: space-around;
    }
  }

  &__heading {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
    display: inline-block;

    &--text {
      font-size: 15px;
    }
  }

  &__list-item {
    font-size: 15px;
    list-style: none;
    cursor: pointer;

    &:not(:last-child) {
      padding-bottom: 18px;
    }

    &:hover {
      color: $color-secondary;
    }
  }

  &__text {
    font-size: 13px;
    width: 80%;
    padding-top: 15px;

    & a {
      color: $color-secondary;
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}
